
@-webkit-keyframes color-change-2x {
	0% {
	  background: #ff4141;
	}
	100% {
	  background: #ff0808;
	}
  }
  @keyframes color-change-2x {
	0% {
	  background: #ff4141;
	}
	100% {
	  background: #ff0808;
	}
  }


body {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI';
	display: flex;
    align-items: center;
    flex-direction: column;
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
			animation: color-change-2x 2s linear infinite alternate both;
}